<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<head>
    <title>Payroll List</title>
</head>

<body>

<main layout:fragment="content">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-semibold">
            <i data-feather="file-text" class="me-2"></i>
            All Payroll Records
        </h2>

        <a class="btn btn-primary" th:href="@{/web/payroll/generate}">
            <i data-feather="plus" class="me-1"></i> Generate Payroll
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Employee ID</th>
                <th>Month</th>
                <th>Year</th>
                <th>Base Salary</th>
                <th>Net Pay</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="p : ${payrolls}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.employeeId}"></td>
                <td th:text="${p.month}"></td>
                <td th:text="${p.year}"></td>
                <td th:text="'₹' + ${p.baseSalary}"></td>
                <td th:text="'₹' + ${p.netPay}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<script>feather.replace();</script>

</body>
</html>
