<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<main layout:fragment="content" class="p-4">

    <h3 class="fw-semibold mb-4">My Attendance</h3>

    <div class="d-flex gap-3 mb-4">

        <form method="post" th:action="@{/web/attendance/clock-in}">
            <button class="btn btn-success">Clock In</button>
        </form>

        <form method="post" th:action="@{/web/attendance/clock-out}">
            <button class="btn btn-danger">Clock Out</button>
        </form>

    </div>


    <div class="card p-4">
        <table class="table table-striped">

            <thead class="table-light">
            <tr>
                <th>Date</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Total Hours</th>
                <th>Status</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="r : ${my}">
                <td th:text="${r.date}"></td>
                <td th:text="${r.checkIn ?: '-'}"></td>
                <td th:text="${r.checkOut ?: '-'}"></td>
                <td th:text="${r.totalHours ?: '-'}"></td>
                <td>
                    <span class="badge"
                          th:classappend="${r.status == 'PRESENT' ? 'bg-success' :
                                          (r.status == 'LATE' ? 'bg-warning' : 'bg-danger')}">
                        <span th:text="${r.status}"></span>
                    </span>
                </td>
            </tr>

            <tr th:if="${my == null or my.isEmpty()}">
                <td colspan="5" class="text-center text-muted">No attendance yet</td>
            </tr>

            </tbody>

        </table>
    </div>

</main>
</html>
