<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<head>
    <meta charset="UTF-8">
    <title>Page Title Here</title>
</head>

<div layout:fragment="content">

    <h2>Edit Task</h2>

    <form th:action="@{'/web/onboarding/task/edit/' + ${task.id}}" th:object="${task}" method="post">

        <input type="hidden" th:field="*{employeeId}">

        <div class="mb-3">
            <label>Title</label>
            <input class="form-control" th:field="*{title}">
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea class="form-control" th:field="*{description}" rows="4"></textarea>
        </div>

        <div class="mb-3">
            <label>Due Date</label>
            <input type="date" class="form-control" th:field="*{dueDate}">
        </div>

        <div class="mb-3">
            <label>Assigned To</label>
            <input class="form-control" th:field="*{assignedTo}">
        </div>

        <button class="btn btn-success">Update</button>
    </form>

</div>

</body>
</html>
